<div class="actions-dialog">
    <cdk-virtual-scroll-viewport itemSize="50" class="scroll-viewport">
    <mat-form-field class="input-comments" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </cdk-virtual-scroll-viewport>
</div>

<div>
  <div mat-dialog-actions class='display-bottom'>
    <button mat-button mat-dialog-close color="primary" (click)="onSubmit()">Send</button>
  </div>

  <div mat-dialog-actions class='display-bottom'>
    <button mat-button mat-dialog-close color="warn">Cancel</button>
  </div>
</div>
