
/* flutuar icone playlist_add para a direita do toolbal*/
.spacer{
  display: inline;
  flex: 1 1 auto;
}


mat-form-field {
  width: 100%;
}

.application-dialog{
  width: 600px;
  height:800px;
}

.scroll-viewport{
  margin-bottom:10px;
  height: 80%;
  width: 100%;
}

mat-list-item{
  margin-top: 5px;
}

.display-bottom{
  float: right;
}

:host ::ng-deep .mat-horizontal-content-container {
  padding:24px 0px !important;
}

mat-card{
  border-radius: 0;
  margin-top: 5px;
}

mat-list-item {
  padding-left: 0;
  padding-right: 0;
}

mat-divider{
  padding-top: 10px;
}


