<div class="application-dialog">
<cdk-virtual-scroll-viewport itemSize="50" class="scroll-viewport">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div>{{ item.application }} - {{ item.name }}</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
            <div>Created: {{ item.created | date: 'dd/MM/yyyy' }}</div>
            <div>Last Update: {{ item.updated | date: 'dd/MM/yyyy' }}</div>
            <div>Status: {{ item.status }}</div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-toolbar>
    <mat-label style="color: teal">Roles</mat-label>
    <span class="spacer"></span>
    <button matSuffix mat-icon-button (click)="showAddRole(item)">
      <mat-icon color="primary">playlist_add</mat-icon>
    </button>
  </mat-toolbar>

  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let role of item.roles" >
      <mat-card [ngClass]="{'pending-card':role.status < 2,'approved-card':role.status == 2}">
        <mat-card-content>
          <span>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon color="primary">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="showRoleProperties(role)">
                <mat-icon color="primary">visibility</mat-icon>
                <span>View</span>
              </button>
              <button mat-menu-item (click)="showRoleProperties(role)">
                <mat-icon color="primary">edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item>
                <mat-icon color="warn">clear</mat-icon>
                <span>Remove</span>
              </button>
            </mat-menu> 
          </span>
          <span class="text-item-enterpoint" (click)="showRoleProperties(role)">{{role.name}}</span> 
        </mat-card-content>
      </mat-card>
    </mat-list-item>
  </mat-list>      
</cdk-virtual-scroll-viewport>
</div>