<div class="application-dialog">

  <mat-stepper headerPosition="top" #stepper>
    
    <cdk-virtual-scroll-viewport itemSize="50" class="scroll-viewport"> 
      <mat-step [stepControl]="firstFormGroup" class="actions-dialog">
        <ng-template matStepLabel>General</ng-template> 
        <mat-card>
          <mat-card-header>
            {{ item.application }} - {{ item.name }}
          </mat-card-header>
          <mat-card-content>
            <mat-divider></mat-divider>
            <div>Created: {{ item.created | date: 'dd/MM/yyyy' }}</div>
            <div>Last Update: {{ item.updated | date: 'dd/MM/yyyy' }}</div>
            <div>Status: {{ item.status }}</div>
          </mat-card-content>
        </mat-card>

        <mat-selection-list #r [multiple]="false">
          <mat-list-option *ngFor="let role of item.roles" [value]="r">
            {{role.name}}
          </mat-list-option>
        </mat-selection-list>
      </mat-step>
    </cdk-virtual-scroll-viewport> 
    
    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>Approvals</ng-template>
    </mat-step>
  
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
    </mat-step>
    
  </mat-stepper>


  
</div>
