.application-dialog{
    width: 640px;
    height:480px;
}


mat-form-field {
    width: 100%;
}

.scroll-viewport{
    margin-bottom:10px;
    height: 70%;
    width: 100%;
}

td.mat-column-select{
    width: 50px;
}
  
.display-bottom{
    float: right;
}