
table {
    width: 100%;
}

.profile-filter{
    margin-top: 50px;
    padding: 10px;
}

td.mat-column-more {
    width: 0px;
}

td.mat-column-code {
    width: 50px;
}

mat-form-field{
    width: 40%;
}

