<div class="actions-dialog">
  <cdk-virtual-scroll-viewport itemSize="50" class="scroll-viewport">
    <form>  
      <mat-card *ngFor="let approval of approvals" class='pending-card'> 
        <div>
          <button matSuffix mat-icon-button (click)="showViewApprovers(approval.id)">
            <mat-icon color="primary">group</mat-icon>
          </button>
          {{approval.name}}
        </div>
        <table mat-table [dataSource]="approval.itens" class="mat-elevation-z8">
        
          <!-- ID details Column -->
          <ng-container matColumnDef="id" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let item">
              {{item.id}}
            </td>
          </ng-container>

          <!-- application Column -->
          <ng-container matColumnDef="item" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>Item</th>
            <td mat-cell *matCellDef="let item">
              {{item.name}}
            </td>
          </ng-container>

          <!-- status  Column -->
          <ng-container matColumnDef="status" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let item">
              <mat-icon>check</mat-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let item; columns: displayedColumns;"></tr>
        
        </table>
      </mat-card> 
    </form>
  </cdk-virtual-scroll-viewport>
</div>
<div mat-dialog-actions class='display-bottom'>
  <button mat-button matStepperNext color="primary">Next</button>
</div>