
/* flutuar icone playlist_add para a direita do toolbal*/
.spacer{
  display: inline;
  flex: 1 1 auto;
}

mat-form-field {
  width: 100%;
}

.application-dialog{
  width: 600px;
  height:800px;
}

.mat-mdc-table {
  width: 100%;
  max-height: 650px;
  overflow: auto;
}

.scroll-viewport{
  margin-bottom:10px;
  height: 50%;
  width: 100%;
}

.menu-footer{
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-flex;
}

:host ::ng-deep .mat-horizontal-content-container {
  padding:24px 0px !important;
}


mat-expansion-panel div{
  padding-top: 5px;
}

.mat-column-id{
  max-width: 80px;
}