/* flutuar icone playlist_add para a direita do toolbal*/
.spacer{
   display: inline;
   flex: 1 1 auto;
 }

.viewer-wrapper{
   margin-top: 20px;
}

/*slide-toggle - view status profile */
.status-profile{
   position: relative;
   float: right;
}

mat-form-field{
   width: 100%;
}

h3{
   margin-bottom: 0px;
}







