
mat-form-field {
  width: 100%;
}

.application-dialog{
  width: 600px;
  height:800px;
}

.scroll-viewport{
  margin-bottom:10px;
  height: 80%;
  width: 100%;
}

td.mat-column-select{
  width: 50px;
}

.display-bottom{
  float: right;
}

