
<main>
  
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1" routerLink="overview">Overview</label>
    
  <input id="tab2" type="radio" name="tabs">
  <label for="tab2" routerLink="profiles">Profiles</label>
    
  <input id="tab3" type="radio" name="tabs">
  <label for="tab3" routerLink="approvals">Approvals</label>
    
  <input id="tab4" type="radio" name="tabs">
  <label for="tab4" routerLink="team">Team Management</label>
      
  <section id="content">
    <router-outlet></router-outlet>
  </section>
      
</main>
  

 
