<div class="system-wrapper">

  <section class="viewer-wrapper" style="padding: 0px">
    <cdk-virtual-scroll-viewport itemSize="40" class="scroll-viewport">
      <div class="default-input">
        <app-department></app-department>
      </div>
    </cdk-virtual-scroll-viewport>	
  </section>
  
  <mat-divider [vertical]="true"></mat-divider>

  <section class="viewer-wrapper" style="padding: 0px">
    <cdk-virtual-scroll-viewport itemSize="40" class="scroll-viewport">
      <div class="default-input">
        <app-department></app-department>
      </div>
    </cdk-virtual-scroll-viewport>	
  </section>

</div>