<div class="system-wrapper">

  <section class="viewer-wrapper" style="padding: 0px">
    <cdk-virtual-scroll-viewport itemSize="40" class="scroll-viewport">
      <div class="default-input">

        <mat-form-field class="example-chip-list" appearance="fill">
          <mat-label>Profile Owner</mat-label>
          <mat-chip-grid #chipGrid aria-label="Enter fruits">
            <mat-chip-row *ngFor="let fruit of fruits"
                          [aria-description]="'press enter to edit ' + fruit.name">
              {{fruit.name}}
              <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            <input placeholder="New Owner..."
                    [matChipInputFor]="chipGrid"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)"/>
          </mat-chip-grid>
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Ex. 100 Main St">teste de perfil funcional </textarea>
        </mat-form-field>

      </div>
      <div class="default-input">
        <app-department></app-department>
      </div>
    </cdk-virtual-scroll-viewport>
  </section>
  <mat-divider [vertical]="true"></mat-divider>
  
  <section class="viewer-wrapper" style="padding: 0px">
    <cdk-virtual-scroll-viewport itemSize="40" class="scroll-viewport">
      <app-access></app-access>
    </cdk-virtual-scroll-viewport>	
  </section>

</div>