
mat-toolbar{
    box-shadow: 0 2px 2px 0 rgba(29, 29, 29, 0.2);
}

.logo img {
    max-width:80px;
    width: auto;
    height: auto;
    margin-right: 10px;
}

.spacer{
    flex: 1 1 auto;
}

.button-toolbar{
    padding: 14px 16px;
}

