.actions-dialog{
  width: 800px;
  height:500px;
}

.display-bottom{
  float: right;
}

mat-icon-button{
  float: right;
}

.scroll-viewport{
  margin-bottom:10px;
  height: 100%;
  width: 100%;
}

.input-comments {
  margin-top: 20px;
  width: 100%;
}


.pending-card{
  border-left: 5px solid #fd7400;
}

.approved-card{
  border-left: 5px solid #00796B;
}

.forwarded-card{
  border-left: 5px solid #d8c200;
}

.reproved-card{
  border-left: 5px solid #d83d00;
}


table {
  width: 100%;
  box-shadow:none;
}

tr.mat-row:hover {
  background: whitesmoke;
}

tr.mat-row, tr.mat-footer-row {
  height: 30px;
}

td.mat-column-more{
  width: 20px;
}

td.mat-column-id{
  width: 30px;
}

td.mat-column-item{
  width: 500px;
}





